<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luffy and the gang</title>
</head>
<body>
    <h1>Ships and the Pirates</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quisquam harum facilis provident dolores perferendis nesciunt incidunt amet sequi eveniet magnam reiciendis illum distinctio debitis magni ducimus, autem dolorum soluta?</p>

    <a href='/'>Home</a>
    <a href='/ships'>Ship</a>
    <a href='/ships/add'>Add Ship</a>
    <a href='/pirates'>Pirate</a>
    <a href='/pirates/add'>Add Pirate</a>

    <h2>Ini Home Page</h2>
</body>
</html>